header {
  background-color: #dfcba4;
  background-image: url(../images/fur.jpg);
  height: 240px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
    position: fixed;
    display: flex;
    flex-direction: column;
}


h1 {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #743806;
  font-weight: bold;
  text-transform: uppercase;
}

/* header img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 22%;
  border: 2px solid black;
  padding: 4px;
  background-color: #b5b5b5;
  border-radius: 6px;
} */

ul {
  display: flex;
  justify-content: space-around;
  width: 80%;
  list-style-type: none;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;

}

.flex {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: wrap;
}

main {
  background-color: #d4b07d42;
  font-size: 100%;

}

div img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 5px solid black;
  padding: 7px;
  background-color: #dcf3f9;
  border-radius: 6px;
  transition-property: padding, border, background-color, border-radius;
  transition-duration: .4s;
  transition-timing-function: linear;
  transition-delay: .8s;

}

div img:hover {
  border: 8px dotted #948800;
  padding: 9px;
  background-color: #fbfd81;
  border-radius: 9px;
}

div li:nth-child(even) img:hover {
  border: 8px dotted #948800;
  padding: 9px;
  background-color: #fbfd81;
  border-radius: 9px;
}

div img:active {
  border: 8px double #890101;
  padding: 10px;
  background-color: #eca2a2;
  border-radius: 60px;
}

div li:nth-child(even) img:active {
  border: 8px double #890101;
  padding: 10px;
  background-color: #eca2a2;
  border-radius: 60px;
}

.grid {
  grid-template-columns: 60% 40%;

  display: grid;
  align-items: center;
  align-items: center;
  row-gap: 2%;
}

.current {
  text-transform: uppercase;
  background-color: #fff947;

}

footer {
  background-color: #e7994073;
  font-size: 120%;

}

main p {
  text-align: justify;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #482c05;
  font-weight: bold;
  font-size: 170%;

}

nav li {
  border: 3px inset #ece0cb;
  padding: 1px;
  background-color: #cac4bf;
}

nav li:hover {
  border: 3px dashed #1c1c1c;
  padding: 1px;
  background-color: #cac4bf;
}



/* ul a {
  text-decoration: none
} */

div li:nth-child(even) img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 5px solid #983601;
  padding: 7px;
  background-color: #ffe1ad;
  border-radius: 8px;
  transition-property: padding, border, background-color, border-radius;
  transition-duration: .4s;
  transition-timing-function: linear;
  transition-delay: .8s;
}

#skip {
  position: relative;
  top: -1000px;
}

#skip:focus {
  top: 0px;
}
h3{
      display: inline-block;
}
